body {
    background-image: url(./Gambar/IMG-20240330-WA0012.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbutroon {
    width: 400px;
    border: 3px solid rgb(255, 255, 255);
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0px 0px 100px black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    
}
img {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
    
}
audio {
    margin-left: 50px;
    margin-bottom: 20px;
}
h3 {
    margin-left: 45px;
    color: rgb(255, 255, 255);
}
p {
    color: white;
    text-align: justify;
    line-height: 20px;
}
.text {
    margin-left: 100px;
}
fieldset {
    color: white;
    background-color: rgba(0, 0, 0, 0.452);
}
.clear {
    clear: left;
}